body {
    background-color: white;
}
h1 {
    color: white;
}
p {
    color: #4b4b4b;
}

body{
    background-color: black;
}

.title{
    text-align: center;
    background-color: #1f1f1f;
    margin:0;
}

.mainDiv{
    background-color: #4b4b4b;
    height:100%;
    width:100%;
    position:absolute;
}

.leftDiv{
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    width: 70px;
    height: 100%;
}

.leftDiv:hover{
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 100%;
}

.rightDiv{
    display:inline-block;
    background-color: black;
    opacity: 0.5;
    width: 90%;
    height:100%;
    margin-left: 80px;
}

.rightDiv p{
    color:white;
}